<nav class="navbar navbar-expand-sm" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/blog">
      <img src="https://cdn.luogu.com.cn/upload/usericon/511639.png" width="30" class="d-inline-block align-text-top">
      KLC Blog
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#top-bar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="top-bar">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/blog">博客列表</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">返回主页</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.luogu.com.cn/" target="_blank">Luogu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://atcoder.jp/" target="_blank">ATCoder</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://codeforces.com/" target="_blank">CodeForces</a>
        </li>
      </ul>
    </div>
  </div>
</nav>