<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KLC 小屋</title>
</head>
<body>
<h1>KLC 小屋 <img src="https://cdn.luogu.com.cn/upload/usericon/511639.png" width="40px"></h1>
<h3>Homo 小屋（确信）</h3>
<h2><a href="/blog">博客</a></h2>
<h2>今日份紫题</h2>
{% for prob in probs %}
<a href="https://www.luogu.com.cn/problem/{{ prob }}" target="_blank">{{ prob }}</a> &nbsp;
{% endfor %}
<br>
<a href="/random_purple_prob/" target="_blank">随机紫题</a>
<h2>音乐区</h2>
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="https://music.163.com/outchain/player?type=2&id=548556494&auto=0&height=66"></iframe>
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="https://music.163.com/outchain/player?type=2&id=548556493&auto=0&height=66"></iframe>
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="https://music.163.com/outchain/player?type=2&id=548556501&auto=0&height=66"></iframe>
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="https://music.163.com/outchain/player?type=2&id=548556500&auto=0&height=66"></iframe>
</body>
</html>